@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --bg-color: #0d1117;
  --text-color: #fdfdfd;
}

body, svg {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  box-sizing: border-box;
  overflow-x: hidden;
}

input {
  color: #000000;
  background-color: #f3f3f6;
}

/* Estilo do input quando o body tiver classe .dark */
body.dark input {
  color: #ffffff;
  background-color: #222222;
}

tbody > tr {
  background-color: #f9f9f9;
  transition: background-color 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: #f1f1f1;
  }
}

body.dark tbody > tr {
  background-color: #1d1d1d;
  transition: background-color 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: #292929;
  }}